.echonotes {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f8ff;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.right-panel {
  height: 100%;
}

.left-panel {
  overflow: auto;
}

.resizer {
  width: 5px;
  cursor: ew-resize;
  background-color: #ccc;
}
