.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #07032c;
  height: 50px;
  width: 100vw;
}

.header-icon {
  font-size: 35px;
  color: #e9ebf2;
  cursor: pointer;
  margin: 20px;
}

.logo {
  color: #daddea;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}