.session-info {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100vw;
  background-color: #c1cbed;
}

.title-box {
  width: 50dvw;
  height: 50px;
  background: none;
  border: none;
  border-bottom: 2px solid #14255b;
  font-size: 30px;
  justify-self: center;
}

.title-box:focus {
  outline: none;
}

.file {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 270px;
  height: 65px;
  margin: 0 2vw;
}

.file-button {
  display: flex;
  justify-content: space-between;
  height: 30px;
  width: 130px;
  background-color: #f3f4f8;
  color: #14255b;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.file-button:active {
  background-color: #eaebf2;
  border-top: solid 1px white;
  border-left: solid 1px white;
}

.file-text {
  font-size: 15px;
  margin: 4px 2px;
}

.file-icon {
  color: #14255b;
  margin: 4px 2px;
  font-size: 18px;
}
.icon-container {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.file-icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.slide-up-out {
  transform: translateY(-100%);
  opacity: 0;
}

.slide-in {
  transform: translateY(0);
  opacity: 1;
}

.slide-in-check {
  transform: translateY(100%);
  opacity: 0;
  animation: slideInCheck 0.4s forwards, slideOutCheck 0.4s 1.2s forwards;
}

@keyframes slideInCheck {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideOutCheck {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
